<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>BEERBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{~/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{~/css/custom.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/index}">Dashboard</a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
</nav>
<div id="layoutSidenav">
    <div th:insert="~{/left_bar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div th:if="${action == 'add'}">
                    <h1 class="mt-4">Ajouter une bière</h1>
                </div>
                <div th:if="${action == 'update'}">
                    <h1 class="mt-4">Modifier une bière</h1>
                </div>
                <label th:text="${msg}" style="color: red"/>
                <!--        <ol class="breadcrumb mb-4">-->
                <!--          <li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>-->
                <!--          <li class="breadcrumb-item active"><a th:href="@{/beers}">Liste des bières</a></li>-->
                <!--          <li class="breadcrumb-item active">Détail de la bière</li>-->
                <!--        </ol>-->
                <form method="post" th:action="@{/add-beer-confirm}" th:object="${biere}">
                    <div class="content mt-3">
                        <div class="animated fadeIn">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header"><strong>Bière</strong></div>
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label class="form-control-label"> Marque*
                                                    : </label>
                                                <div th:if="${action == 'add'}">
                                                    <div th:if="${listMarque != null and not #lists.isEmpty(listMarque)}">
                                                        <select class="form-select" name="marque" th:field="*{marque}">
                                                            <option th:each="m : ${listMarque}"
                                                                    th:value="${m.getNomMarque()}"
                                                                    th:text="${m.getNomMarque()}"/>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div th:if="${action == 'update'}">
                                                    <input class="form-control"
                                                           type="text"
                                                           name="marque.nomMarque"
                                                           th:field="*{marque.nomMarque}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Version*
                                                    : </label>
                                                <div th:if="${action == 'add'}">
                                                    <input class="form-control" type="text" name="version"
                                                           th:field="*{version}">
                                                </div>
                                                <div th:if="${action == 'update'}">
                                                    <input class="form-control" type="text" name="version"
                                                           th:field="*{version}" readonly>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Type* : </label>
                                                <div th:if="${listType != null and not #lists.isEmpty(listType)}">
                                                    <select class="form-select" name="type.noType"
                                                            th:field="*{type.noType}">
                                                        <option th:each="t : ${listType}"
                                                                th:value="${t.getNoType()}"
                                                                th:text="${t.getNomType()}"/>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Couleur de la bière* : </label>
                                                <input class="form-control" type="text" name="couleur"
                                                       th:field="*{couleurBiere}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Taux d'alcool* : </label>
                                                <input class="form-control" type="number" step="0.01" name="tauxAlcool"
                                                       th:field="*{tauxAlcool}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Caractéristiques : </label>
                                                <input class="form-control" type="text" name="caracteristiques"
                                                       th:field="*{caracteristiques}">
                                            </div>
                                            <input name="action" th:value="${action}" hidden>
                                            <div class="form-group right" style="margin-top: 20px;">
                                                <div th:if="${action == 'add'}">
                                                    <input type="submit" class="btn btn-primary" name="btn_ajout"
                                                           value="Ajouter la biere">
                                                </div>
                                                <div th:if="${action == 'update'}">
                                                    <input type="submit" class="btn btn-primary" name="btn_ajout"
                                                           value="Modifier la biere">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .content -->
                    </div>
                </form>
            </div>
        </main>
        <div th:insert="~{/footer}"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script th:src="@{~/js/scripts.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script th:src="@{~/js/datatables-simple-demo.js}"></script>
</div>
</body>
</html>

